@import "../../assets/colors";

.wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid $blue;
    color: $blue;
    font-size: 1.4em;
    width: 220px;
    height: 45px;
    text-align: center;
  }
  &__input::placeholder {
    color: $blue;
    opacity: 0.6;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .wrapper {
    height: 110px;
    &__input {
      width: 240px;
      font-size: 1.6em;
      height: 50px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    height: 140px;
    &__input {
      width: 280px;
      font-size: 1.65em;
      height: 50px;
    }
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .wrapper {
    height: 160px;
    &__input {
      width: 320px;
      font-size: 1.7em;
      height: 55px;
    }
  }
}
@media (min-width: 1281px) {
  .wrapper {
    height: 180px;
    &__input {
      width: 340px;
      font-size: 1.8em;
      height: 55px;
    }
  }
}