@import "../../assets/colors";

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba($lightblue, 0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  &__img--height {
    height: 70%;
  }
  &__img--width {
    width: 60%;
  }
}