@import "../../assets/colors";

.loading {
  margin-top: 60px;
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loading:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $blue;
  border-color: $blue transparent $blue transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
