* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
input {
  font-family: 'Montserrat', sans-serif;
}